{% extends 'base.html' %}
{% load jformat %}

<!-- Page Title -->
{% block head_title %}
{% if page.number == 1 %}صفحه اصلی{% else %}صفحه {{ page.number }}{% endif %}
{% endblock %}



{% block content %}
  {% for post in page %}
    <div class="post-preview">
      <a href="{{ post.get_absolute_url }}">
        <h2 class="post-title">
          {{ post.title }}
        </h2>
        {% if post.description %}
        <h3 class="post-subtitle">
          {{ post.description }}
        </h3>
        {% endif %}
      </a>
      <p class="post-meta">نوشته شده توسط {{ post.author }} در {{ post.published_date|jformat:"%d %B %Y" }} </p>
    </div>
    {% if not forloop.last %}
      <hr>
    {% endif %}
  {% endfor %}

    <!-- Pager -->
    <div class="clearfix">
      {% if has_next %}
      <a class="btn btn-primary float-right" href="{% url 'view_pagination' next_number %}">صفحه بعدی</a>
      {% endif %}
      {% if has_previous %}
      <a class="btn btn-primary float-left" href="{% url 'view_pagination' previous_number %}">صفحه قبلی</a>
      {% endif %}
    </div>
  {% endblock %}