{% extends 'base.html' %}

{% block head_title %}Login{% endblock %}

{% block content %}
  <h1>ورود</h1>

  {% if err.auth %}
    <div class="alert alert-danger myalert" role="alert">
      {{ err.auth }}  
    </div>
  {% endif %}
  
  <form action="" method="post">
    {% csrf_token %}
    <div class="form-group">
      <div class="row">
        <div class="col-12 col-md-12 col-lg-8">
          <div>
            <label>نام کاربری</label>
            {{ form.username }}
          </div>
          <div>
            <label>کلمه عبور</label>
            {{ form.password }}
          </div>
        </div>
      </div>
      <div class="captcha-row">
        {{ recaptcha|safe }}
        {{ err.captcha|safe }}
      </div>
    </div>
    <button type="submit" class="btn btn-dark sendcommentbtn">ورود</button>
  </form>
{% endblock %}