{% extends 'base.html' %} 
{% load jformat %}
{% block head_title %}{{ post.title }}{% endblock %}

{% block content %}

    <h1>{{ post.title }}</h1>

    {{ post.content|safe }}
    
    {% if tags %}
    <br />
    <div class="tags">
      <label>برچسب ها :</label> 
      <ul>
        {% for tag in tags %}
          <li>
            <a href="{% url 'view_tags_category' tag %}">
              {{ tag }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <br />
    <div id="accordianId" role="tablist" aria-multiselectable="true">
      <div class="card">
        <div class="card-header" role="tab" id="section1HeaderId">
          <h5 class="mb-0">
            <a data-toggle="collapse" data-parent="#accordianId" href="#section1ContentId" aria-expanded="true" aria-controls="section1ContentId">
              ارسال دیدگاه
            </a>
          </h5>
        </div>
        <div id="section1ContentId" class="collapse in" role="tabpanel" aria-labelledby="section1HeaderId">
          <div class="card-body">
            <form action="" method="POST">
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-5">
                      <div>
                        <label>نام شما: </label>
                        {{ form.name }}
                      </div>
                      <div>
                        <label> ایمیل شما:</label>
                        {{ form.email }}
                      </div>
                    </div>
                    <div class="col-md-7">
                      <label>دیدگاه شما:</label>
                      {{ form.text }}
                    </div>
                    
                  </div>
                </div>
                <div align="left">
                  <button type="submit" class="btn btn-dark">ارسال</button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    {% if comments %}
      <br />
      <div class="comments">
        <label>دیدگاه‌ها :</label>
        <ul>
          {% for comment in comments %}
            <li>
              <h5>{{ comment.name }}</h5>
              <div class="date">نوشته شده در {{ comment.date|jformat:"%d %B %Y" }}</div>
              <hr />
              <div>{{ comment.text }}</div>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% else %}
      <div class="comments">
        <div class="alert alert-warning" role="alert">
          <strong>هیچ دیدگاهی وجود ندارد</strong>
        </div>
      </div>
    {% endif %}

{% endblock %}
